.Nav_bar
{
	background-color:#800000 ;
	color: white;
	display: inline-flex;
	width: 100%;
	align-items: center;
}
.Nav_bar img
{
	height: 50px;
	width: 50px;
	margin-left: 20px;
}
.nav_heading
{
	text-shadow: 3px 3px 2px ;
	margin-left: 10%;

}
.home_login
{
	list-style: none;
	margin-left: 50px;
}
.home_login input[text ="submit"],
{
	margin-left: 5px;
}
.home_login input
{
	text-transform: uppercase;
	border-radius: 20px; 
	background-color: red;
	color: white;
	font-size: 17px;
	float: right; 
	border:2px solid #3498db;
	margin: 10px auto;	
	padding: 10px 15px;
	align-items: center;
	transition: 0.12;
	outline: none;


}
.home_login input:hover
{
	background-color: #3498db;
	color: yellow;
	cursor: pointer;
	width: 110px;
	font-weight: bold;
	

}

.home_icon
{
	margin-left: 25% ;
	text-transform: uppercase;
	align-items: right;
	list-style: none;

	
}
.home_icon a
{

    color: white;
    outline-style: none;
    text-decoration: none;
 	padding: 10px;
 	letter-spacing: 2px;
 	word-spacing: 30px ;

 	   

}
.home_icon a:hover
{
	background-color: yellow;
	border-radius: 17px;
	color: red;
	font-weight: bolder;
	text-decoration: underline #70db70;


}




