*
{
	padding: 0;
	margin: 0px;
	font-family: "Times New Roman";

}
body
{
	/*background-color: gray;*/
	/*background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url("jaganath tample.jpg");*/
	/* Full height */
   height: 500px; 
  /* Center and scale the image nicely */

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
nav
{
	background: black;
	color: white;
	display: inline-flex;
	text-transform: uppercase;
	list-style: none;
	width: 100%;
	height: 8vh;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    

 	
}
#odi
{
	font-weight: bold;
	font-size: 35px;
	text-shadow: 3px 2px 2px white;
	letter-spacing: 5px;
	margin-left: 50px;
	


}
li a
{
	color: white;
	text-decoration: none;
	font-size: 17px;
	padding: 14px 17px;
	justify-content: space-around;
	transition: 0.25s;*/
	margin-right: 20px;	
	letter-spacing: 2px;
/*	color: white;
	text-decoration: none;
	font-size: 17px;
	padding: 1px 1px;
	letter-spacing: 3px;
	justify-content: space-around;	
 	margin-right: 20px;
 	transition: 0.25s;*/
}
.navbar li  button 
{
	background: none;
	color:white;
	border-radius: 17px;
	border: 3px solid #4CAF50;
	font-size: 17px;
	letter-spacing: 1px;
	width: 80px;
	text-align: center;
	cursor: pointer;
	transition: 0.25s;
	font-weight: 1000;
	padding: 5px 3px;
	margin-right: 20px;
	outline: none;
}
nav li a:hover
{
	background-color: #4CAF50 ;
	border-radius: 15px;
}
nav li button:hover
{
	
	background: #4CAF50;
}

@media screen and (max-width: 700px) {
  nav li a{
    width: 100%;
    height: auto;
    position: relative;
    letter-spacing: 0;
    padding: 0;
   
  }
  
  nav li a {margin-right: 0;
            font-size: 12px;}
  nav #odi{ font-size: 17px; }
   
}

@media screen and (max-width: 1080px) {
  nav li a
  {
    width: 100%;
    height: auto;
    position: relative;
    letter-spacing: 2px;
    padding: 2px;
  }
  
  nav li a {margin-right: 0;
            font-size: 12px;}
  nav #odi{ font-size: 17px; }
main section table img
  {

	height: 100px;
	width: 200px;
	margin: 0px;
	border-radius: 20px;
	margin-right: 0;
  }
  .lasthome tr td li
  {
	margin-left: 0px;
	/*list-style: none;*/
	/*margin: 20px 130px  auto;*/
	
  }
 }
 nav .navbar
 {
 	
   /* position:fixed;
    top: 5px;
*/
 }
 


  

  



/*************** main *****************/

main
{
	font-size: 25px;
	color:#EEE4E2 ;
	padding: 20px;
	margin-top: 10px;
	


}
#slider figure img
{
	width: 100%;
	height:700px; 
	left: 50%;
	top: 50%;
	/*margin-top: 50px;*/
	transform: (-50%,-50%);
	background-size: 100%,100%;
	overflow: hidden;
	border-radius: 20px;
	animation: 1s slider infinite;
}
#slider 
{

	width: 100%;
	height:700px; 
	left: 50%;
	top: 50%;
	margin-top: 50px;
	transform: (-50%,-50%);
	background-size: 100%,100%;
	
	box-shadow: 3px 15px 10px black ;
	overflow: hidden;
	border-radius: 20px;

}
/*#slider figure
{
	width: 20%;
	float: left;
}*/
.lsd
{
	width: 85%;
	margin-top: 20px;
	
}
.rsd
{
    margin-right: 20px;
	margin-left: 100px;
}

article
{
	margin: 20px;
	color: black;
	text-align: justify;
}
main section table img
{
	height: 300px;
	width: 500px;
	margin: 20px;
	border-radius: 20px;
}
.Place1{
	color:#F4E2E1  ;
	background-color:#08052E  ;
	width: 150px;
	text-align: center;
}



/********************footer*********************/
.lasthome
{
	background: gray;
	width: 100%;
	color: white;
	


}
.lasthome tr td li
{
	margin-left: 30px;
	list-style: none;
	margin: 20px 130px  auto;
	
}
.lasthome tr td li:hover
{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
.copyright 
{
	text-align: center;
	color: white;
	/*display:inline;*/
	background: black;
	
}